---js
{
  pagination: { data: "languages", size: 1, alias: "lang" },
  permalink: function(data) { return data.lang.code + "/service-business-consulting.html"; },
  layout: "layouts/page.njk",
  pageCss: "css/service-business-consulting.css",
  navKey: "Services",
  extraFonts: "&family=Merriweather:wght@700",
  currentPage: "service-business-consulting.html",
  serviceIdx: 4,
  eleventyComputed: {
    title: function(data) { var L = data.lang.code; return (data.serviceDetails[4][L] || data.serviceDetails[4].en).title; },
    description: function(data) { var L = data.lang.code; return (data.serviceDetails[4][L] || data.serviceDetails[4].en).description; },
    heroTitle: function(data) { var L = data.lang.code; return (data.serviceDetails[4][L] || data.serviceDetails[4].en).heroTitle; },
    breadcrumbs: function(data) {
      var L = data.lang.code;
      return [
        { label: (data.ui[L]||data.ui.en).page_services_hero, url: "services.html" },
        { label: (data.serviceDetails[4][L] || data.serviceDetails[4].en).breadcrumbLabel }
      ];
    }
  }
}
---
{% include "partials/service-detail-content.njk" %}
